<template>
<title>Cartoon Clouds</title>
<textcolor>#FFFFFF</textcolor>
<textsize>50</textsize>
<padding_top>150</padding_top>
<padding_bottom>100</padding_bottom>
<padding_right>40</padding_right>
<padding_left>40</padding_left>
<background>[assets]/backgrounds/44.jpg</background>
<font>[assets]/fonts/days.ttf</font>
<author></author>
</template>
