<template>
<title>Blue Sticker</title>
<textcolor>#ffffff</textcolor>
<textsize>54</textsize>
<padding_top>111</padding_top>
<padding_bottom>75</padding_bottom>
<padding_left>80</padding_left>
<padding_right>80</padding_right>
<background>[assets]/backgrounds/42.jpg</background>
<font>[assets]/fonts/days.ttf</font>
<author></author>
</template>
