<template>
<title>25</title>
<textcolor>#2c2c2c</textcolor>
<textsize>40</textsize>
<text_shadow>#FFFFFF</text_shadow>
<padding_top>129</padding_top>
<padding_bottom>20</padding_bottom>
<padding_right>25</padding_right>
<padding_left>25</padding_left>
<background>[assets]/backgrounds/25.jpg</background>
<font>[assets]/fonts/1942report.ttf</font>
<author></author>
</template>
