<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Version</th>
							<th>Developer</th>
							<th>Genre</th>
							<th>User Rating</th>
							<th>Release Date</th>
							<th>File Size</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Pinterest</td>
							<td>Varies with device</td>
							<td>Pinterest, Inc.</td>
							<td>Social</td>
							<td>4.7</td>
							<td>April 2, 2014</td>
							<td>Varies with device</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>