<div class="container-fluid text-center" id="header">
	<h1>This is a project about Android&trade; applications.</h1>
	<p>-----</p>
	<p>We collected over 4,000 APK files and analyzed them to see how their permissions and security risks evolved over time. We performed some testing on these applications, too.</p>
</div>
<div class="container">
	<div class="row text-center">
		<div class="col-lg-6">
			<h2>Data</h2>
			<p>View raw data in the form of a table or charts, and download the entire data set.</p>
		</div>
		<div class="col-lg-6">
			<h2>About</h2>
			<p>Learn more about the project and the people who made it happen.</p>
		</div>
	</div>
</div>
<div class="container-fluid text-center">
	<div class="row">
		<hr>
		<p>Copyright &copy; 2014 Adam Blaine, Casey Klimkowsky, Shannon Trudeau</p>
	</div>
</div>
