div#header.container-fluid.text-center
	h1 This is a project about Android&trade; applications.
	p -----
	p We collected over 4,000 APK files and analyzed them to see how their permissions and security risks evolved over time. We performed some testing on these applications, too.
div.container
	div.row.text-center
		div.col-lg-6
			h2 Data
			p View raw data in the form of a table or charts, and download the entire data set.
		div.col-lg-6
			h2 About
			p Learn more about the project and the people who made it happen.
div.container-fluid.text-center
	div.row
		hr
		p Copyright &copy; 2014 Adam Blaine, Casey Klimkowsky, Shannon Trudeau