<template>
<title>51</title>
<textcolor>#f8bad1</textcolor>
<textsize>40</textsize>
<padding_top>25</padding_top>
<padding_bottom>315</padding_bottom>
<padding_right>20</padding_right>
<padding_left>20</padding_left>
<background>[assets]/backgrounds/51.jpg</background>
<font>[assets]/fonts/yellow.ttf</font>
<author></author>
</template>
