<template>
<title>Old Note</title>
<textcolor>#8c6045</textcolor>
<textsize>32</textsize>
<rotation>-5</rotation>
<padding_top>160</padding_top>
<padding_bottom>105</padding_bottom>
<padding_right>100</padding_right>
<padding_left>200</padding_left>
<background>[assets]/backgrounds/04.jpg</background>
<font>[assets]/fonts/gilles_handwriting.ttf</font>
<author></author>
</template>
