<template>
<title>230</title>
<textcolor>#593610</textcolor>
<textsize>60</textsize>
<padding_top>152</padding_top>
<padding_bottom>98</padding_bottom>
<padding_right>94</padding_right>
<padding_left>94</padding_left>
<background>[assets]/backgrounds/27.jpg</background>
<font>[assets]/fonts/lobster_13.ttf</font>
<author></author>
</template>
