<template>
<title>150</title>
<textcolor>#FFFFFF</textcolor>
<textsize>60</textsize>
<padding_top>45</padding_top>
<padding_bottom>45</padding_bottom>
<padding_right>45</padding_right>
<padding_left>45</padding_left>
<background>[assets]/backgrounds/36.jpg</background>
<font>[assets]/fonts/whateverittakes.ttf</font>
<author></author>
</template>
