<template>
<title>37</title>
<textcolor>#009d9e</textcolor>
<textsize>40</textsize>
<text_shadow>#c3c3c3</text_shadow>
<padding_top>29</padding_top>
<padding_bottom>29</padding_bottom>
<padding_right>122</padding_right>
<padding_left>122</padding_left>
<background>[assets]/backgrounds/37.jpg</background>
<font>[assets]/fonts/raavi.ttf</font>
<author></author>
</template>
