<template>
<title>Gray N</title>
<textcolor>#FFFFFF</textcolor>
<textsize>40</textsize>
<text_shadow>#d63939</text_shadow>
<padding_top>60</padding_top>
<padding_bottom>60</padding_bottom>
<padding_right>60</padding_right>
<padding_left>60</padding_left>
<background>[assets]/backgrounds/14.jpg</background>
<font>[assets]/fonts/lobster_13.ttf</font>
<author></author>
</template>
