<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="66" android:versionName="2.3.4" android:installLocation="auto" package="codeadore.textgram"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:hardwareAccelerated="true">
        <meta-data android:name="applovin.sdk.key" android:value="EKOiK0HvylZ_5czdHokskWvE66RLCvkQQ0ERTRwM1yrzZNMkCDobMfiPoW28ebFAy58npghn5UIMme5hcQD4xF" />
        <activity android:label="@string/title_activity_main" android:name=".MainActivity" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity android:name=".StylingActivity" android:configChanges="keyboardHidden" android:windowSoftInputMode="adjustNothing" />
        <activity android:theme="@style/MyAppCompatDialogTheme" android:name=".EditTextActivity" />
        <activity android:theme="@style/MyAppCompatDialogTheme" android:name=".CreateTextboxActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".RAppsActivity" />
        <activity android:theme="@style/AppThemeStore" android:name=".StoreActivity" />
        <activity android:name=".StoreItemActivity" />
        <activity android:name=".GoProActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".PrepareBitmapActivity" android:configChanges="orientation" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name=".FirstTimeActivity" />
        <activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode" />
        <activity android:name="eu.janmuller.android.simplecropimage.CropImage" />
    </application>
</manifest>
