<template>
<title>49</title>
<textcolor>#FFFFFF</textcolor>
<textsize>50</textsize>
<padding_top>153</padding_top>
<padding_bottom>140</padding_bottom>
<padding_right>81</padding_right>
<padding_left>77</padding_left>
<background>[assets]/backgrounds/49.jpg</background>
<font>[assets]/fonts/mcgarg.ttf</font>
<author></author>
</template>
