<template>
<title>Green Leather</title>
<textcolor>#f3ff8e</textcolor>
<textsize>50</textsize>
<padding_top>32</padding_top>
<padding_bottom>32</padding_bottom>
<padding_right>32</padding_right>
<padding_left>32</padding_left>
<background>[assets]/backgrounds/33.jpg</background>
<font>[assets]/fonts/twelvetongoldfish.ttf</font>
<author></author>
</template>
