<template>
<title>Grunge BW</title>
<textcolor>#595959</textcolor>
<textsize>40</textsize>
<padding_top>230</padding_top>
<padding_bottom>65</padding_bottom>
<padding_right>65</padding_right>
<padding_left>110</padding_left>
<background>[assets]/backgrounds/10.jpg</background>
<font>[assets]/fonts/spray.ttf</font>
<author></author>
</template>
