<template>
<title>45</title>
<textcolor>#FFFFFF</textcolor>
<textsize>45</textsize>
<padding_top>25</padding_top>
<padding_bottom>207</padding_bottom>
<padding_right>20</padding_right>
<padding_left>20</padding_left>
<background>[assets]/backgrounds/45.jpg</background>
<font>[assets]/fonts/yellow.ttf</font>
<author></author>
</template>
