<template>
<title>Flip</title>
<textcolor>#dfdfdf</textcolor>
<textsize>50</textsize>
<text_shadow>#181818</text_shadow>
<padding_top>100</padding_top>
<padding_bottom>200</padding_bottom>
<padding_right>70</padding_right>
<padding_left>70</padding_left>
<background>[assets]/backgrounds/18.jpg</background>
<font>[assets]/fonts/janeausten.ttf</font>
<author></author>
</template>
