<template>
<title>43</title>
<textcolor>#eeeeee</textcolor>
<textsize>40</textsize>
<text_shadow>#738ea9</text_shadow>
<padding_top>15</padding_top>
<padding_bottom>168</padding_bottom>
<padding_right>15</padding_right>
<padding_left>15</padding_left>
<background>[assets]/backgrounds/43.jpg</background>
<font>[assets]/fonts/days.ttf</font>
<author></author>
</template>
