<template>
<title>Notebook</title>
<textcolor>#3e4552</textcolor>
<textsize>40</textsize>
<padding_top>86</padding_top>
<padding_bottom>40</padding_bottom>
<padding_right>40</padding_right>
<padding_left>130</padding_left>
<background>[assets]/backgrounds/11.jpg</background>
<font>[assets]/fonts/bulkyrefuse.ttf</font>
<author></author>
</template>
