<template>
<title>Leather</title>
<textcolor>#942021</textcolor>
<textsize>35</textsize>
<padding_top>130</padding_top>
<padding_bottom>32</padding_bottom>
<padding_right>32</padding_right>
<padding_left>32</padding_left>
<background>[assets]/backgrounds/41.jpg</background>
<font>[assets]/fonts/gilles_handwriting.ttf</font>
<author></author>
</template>
