<template>
<title>Black D</title>
<textcolor>#FFFFFF</textcolor>
<textsize>40</textsize>
<padding_top>32</padding_top>
<padding_bottom>32</padding_bottom>
<padding_right>32</padding_right>
<padding_left>32</padding_left>
<background>[assets]/backgrounds/03.jpg</background>
<font>[assets]/fonts/TYPEABRIL.ttf</font>
<author></author>
</template>
