<template>
<title>FruitsPack Green</title>
<textcolor>#FFFFFF</textcolor>
<textsize>45</textsize>
<padding_top>80</padding_top>
<padding_bottom>132</padding_bottom>
<padding_right>75</padding_right>
<padding_left>75</padding_left>
<background>[assets]/backgrounds/29.jpg</background>
<font>[assets]/fonts/black_jack.ttf</font>
<author></author>
</template>
