<template>
<title>Hello Kitty</title>
<textcolor>#BB286B</textcolor>
<textsize>55</textsize>
<padding_top>40</padding_top>
<padding_bottom>40</padding_bottom>
<padding_left>40</padding_left>
<padding_right>40</padding_right>
<background>[assets]/backgrounds/24.jpg</background>
<font>[assets]/fonts/notepad.ttf</font>
<author></author>
</template>
